.App {
  text-align: center;
}

.table {
  width: auto;
  height: auto;
  padding: "5px 10px";
}
.btop10 {
  top: 135px;
  left: 214px;
  width: 108px;
  height: 30px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #78849e66;
  border-radius: 20px;
  opacity: 1;
}
.btop10Y {
  top: 135px;
  left: 338px;
  width: 180px;
  height: 30px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #78849e66;
  border-radius: 20px;
  opacity: 1;
}
.refresh {
  top: 135px;
  height: 30px;
  
  background: #ffffff 0% 0% no-repeat padding-box;
  border: none;
  opacity: 1;

}
