.retangulo {
  width: 99vw;
  display: grid;
  margin: 0 auto;
  display: flex;
  height: 50px;
  background: var(--unnamed-color-012433) 0% 0% no-repeat padding-box;
  background: #012433 0% 0% no-repeat padding-box;
  opacity: 1;
}

.flex-container {
  display: flex;

  /*isso centraliza o texto horizontalmente*/
  justify-content: center;

  /*isso centraliza o texto verticalmente*/
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.2rem;
  /*background: #00008b;*/
}
.box {
  width: 60%;
  height: 100%;
  /* background: #fff;*/
}
.title {
  margin-top: 40px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 24px / var(--unnamed-line-spacing-12)
    Roboto;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-386071);
  text-align: left;
  font: normal normal normal 24px/12px Roboto;
  letter-spacing: 0px;
  color: #386071;
  opacity: 1;
}

.btnTop10{
  font-size:14px;
  color:#78849E;
  font-family: normal normal medium 12px/14px Roboto;
  text-align: center;
  padding-left:20px;
  padding-right: 20px;
  margin-right: 15px;
  border-radius: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #78849e66;
  opacity: 1;
  text-align: center;
}
.btnTop10Y{
  font-size:14px;
  color:#78849E;
  font-family:normal normal medium 12px/14px Roboto;
  text-align:center;
  padding-left:20px;
  padding-right: 18px;
  margin-right: 5px;
  border-radius: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #78849e66;
}
.btnTop10Y:hover {
  color: #012433;
  background: #14b3e4 0% 0% no-repeat padding-box;
}


.menu {
  position: absolute;

  list-style-type: none;
  margin-left: 175px;
  margin-top: -20px;
  padding: 0;
  border: 1px solid grey;
  width: 150px;
  padding-bottom: 5px;
}

.menu > li {
  margin: 0;
  background-color: white;
}

.menu > li:hover {
  background-color: white;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 2px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.messageSelect {
  margin-top: 10px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-12) / 14px Roboto;
  letter-spacing: var(--unnamed-character-spacing-0);

  font: normal normal normal 12px/14px Roboto;
  letter-spacing: 0px;
  color: #78849eb9;
  opacity: 1;
}
.btnRefresh{
  margin-right: 15px;
  border:none;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  font-family: normal normal 300 12px/14px Roboto;
  text-align: center;
}

.divTable {
  margin-bottom: 20px;
  padding-bottom: 5px;
}
table #table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 80px;
}

.thStyle {
 
height: 13px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-10)/20px Roboto;
  letter-spacing: var(--unnamed-character-spacing-0);
font: normal normal bold 16px/20px Roboto;
letter-spacing: 0px;
color: #0B749B;
}
.tdStyle {
  height: 50px;
  text-align: left;
  vertical-align: middle;
  letter-spacing: 0px;
  margin-top: 50px;
  justify-content: center;
  color: #536b7a;
  opacity: 1;
  font: normal normal normal 16px Roboto;
}
.btnDetail{
  vertical-align: middle !important;
  border: none;
  align-items: center;
  justify-Content: center;
  display: flex;
  color: #536b7a;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
}